/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.icon {
  display: inline-block;
  vertical-align: top;
  fill: currentColor;
}
.icon--order {
  width: 19px;
  height: 22px;
}
.icon--search {
  width: 20px;
  height: 20px;
}
.icon--logo-v {
  width: 30px;
  height: 103px;
}
.icon--arrow-right {
  width: 27px;
  height: 28px;
}
.icon--phone {
  width: 19px;
  height: 19px;
}

@font-face {
  font-family: "Formular";
  font-display: fallback;
  src: url("../fonts/Formular-Medium.eot");
  src: url("../fonts/Formular-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Formular-Medium.woff2") format("woff2"), url("../fonts/Formular-Medium.woff") format("woff"), url("../fonts/Formular-Medium.ttf") format("truetype"), url("../fonts/Formular-Medium.svg#Formular-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Formular";
  font-display: fallback;
  src: url("../fonts/Formular.eot");
  src: url("../fonts/Formular.eot?#iefix") format("embedded-opentype"), url("../fonts/Formular.woff2") format("woff2"), url("../fonts/Formular.woff") format("woff"), url("../fonts/Formular.ttf") format("truetype"), url("../fonts/Formular.svg#Formular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AMDGFont";
  src: url("../fonts/AMDGFont-Regular.eot");
  src: url("../fonts/AMDGFont-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/AMDGFont-Regular.woff2") format("woff2"), url("../fonts/AMDGFont-Regular.woff") format("woff"), url("../fonts/AMDGFont-Regular.ttf") format("truetype"), url("../fonts/AMDGFont-Regular.svg#AMDGFont-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
*,
::after,
::before {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  font-family: "Formular", "Arial";
  font-size: 14px;
  line-height: 18px;
  color: #000;
  background: #fff;
}

#main {
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
}

.body-overflow {
  overflow: hidden;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: bold;
}

a {
  outline: 0;
}

.text-center {
  text-align: center;
}

.mt-30 {
  margin-top: 30px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.br {
  display: block;
}

.w100 {
  width: 100% !important;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.row {
  flex-wrap: wrap;
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}
.row [class*=col-] {
  padding-left: 15px;
  padding-right: 15px;
}

.col-1-2 {
  width: 50%;
}

.main-container {
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.order-btn {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 79px;
  position: relative;
  background: #E00C3C;
  transition: 0.3s background-color ease;
  color: #fff;
}
.order-btn__text {
  position: absolute;
  top: 100%;
  right: 0;
  height: 79px;
  white-space: nowrap;
  padding: 0 32px;
  background: #E00C3C;
  font-weight: 500;
  font-size: 14px;
  line-height: 79px;
  transition: 0.3s background-color ease;
}
.order-btn:hover {
  background: #2E2382;
}
.order-btn:hover .order-btn__text {
  background: #2E2382;
}

.burger {
  width: 97px;
  height: 79px;
  position: relative;
  cursor: pointer;
}
.burger__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  margin: -16px 0px 0px -16px;
}
.burger__inner:before, .burger__inner:after {
  display: block;
  background: #E00C3C;
  height: 2px;
  position: absolute;
  right: 0;
  transition: all 0.2s ease-in-out 0s;
  content: "";
}
.burger__inner:before {
  width: 32px;
  top: 11px;
}
.burger__inner:after {
  width: 16px;
  top: 19px;
}
.burger:hover .burger__inner:before {
  width: 100%;
  top: 0;
}
.burger:hover .burger__inner:after {
  width: 100%;
  top: 31px;
}
.burger--active .burger__inner:before, .burger--active .burger__inner:after {
  width: 100%;
  top: 16px;
}
.burger--active .burger__inner:before {
  transform: rotate(-45deg);
}
.burger--active .burger__inner:after {
  transform: rotate(45deg);
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}
.menu__drop {
  min-width: 232px;
  padding: 30px 40px;
  position: absolute;
  top: 100%;
  left: 0;
  background: #2E2382;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}
.menu__btn {
  display: block;
  height: 79px;
  border: 0;
  outline: 0;
  background: transparent;
  padding: 0;
  font-size: 18px;
  line-height: 23px;
  color: #2E2382;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  transition: 0.3s color ease;
}
.menu__btn:before {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: -3px;
  width: 0;
  height: 3px;
  transition: 0.3s width ease;
  display: block;
  content: "";
  background: #E00C3C;
}
.menu__item {
  position: relative;
}
.menu__item--full {
  position: static;
}
.menu__item--full .menu__drop {
  width: calc(100% - 97px);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}
.menu__item:hover .menu__btn {
  color: #E00C3C;
}
.menu__item:hover .menu__btn:before {
  width: 78px;
}
.menu__item:hover .menu__drop {
  opacity: 1;
  visibility: visible;
  z-index: 100;
}
.menu__col {
  padding-left: 20px;
  padding-right: 20px;
  width: 25%;
  margin-bottom: 60px;
}
.menu__title {
  font-size: 18px;
  line-height: 23px;
  color: #fff;
  margin-bottom: 24px;
}
.menu__title:after {
  content: "";
  display: block;
  width: 77%;
  height: 1px;
  background: #fff;
  margin-top: 18px;
}

.menu-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.menu-list__item:not(:last-child) {
  margin-bottom: 16px;
}
.menu-list__link {
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
}
.menu-list__link:hover {
  text-decoration: underline;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}
.breadcrumbs__item {
  color: #E00C3C;
  font-size: 16px;
  line-height: 20px;
  margin-right: 5px;
}
.breadcrumbs__link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  vertical-align: top;
}
.breadcrumbs__link:hover {
  color: #2E2382;
}

.header {
  position: relative;
  padding-left: 130px;
}
.header__top {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}
.header__logo-g {
  display: none;
}
.header .menu {
  flex: 1 0 0%;
}
.header .order-btn {
  z-index: 50;
}
.header__search-btn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 79px;
  width: 81px;
  color: #2E2382;
  transition: 0.3s color ease;
  text-decoration: none;
  margin-right: 12px;
}
.header__search-btn .icon {
  width: 17px;
  height: 17px;
}
.header__search-btn:hover {
  color: #E00C3C;
}
.header__phone {
  height: 79px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 70px;
  margin-right: 25px;
}
.header__phone a {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  transition: 0.3s color ease;
  color: #E00C3C;
}
.header__phone a:hover {
  color: #2E2382;
}
.header__phone .icon {
  display: none;
}
.header .breadcrumbs {
  margin-bottom: 10px;
}
.header__cont {
  position: relative;
}
.header__title {
  position: relative;
  border-bottom: 1px solid #2E2382;
  margin: 0;
  padding-bottom: 17px;
  font-size: 64px;
  line-height: 77px;
  color: #2E2382;
  font-family: "AMDGFont";
  text-transform: uppercase;
  position: relative;
}
.header__title:before {
  content: "";
  background: #fff;
  width: 22%;
  height: 1px;
  position: absolute;
  top: 100%;
  right: 0;
  display: block;
}
.header__logo {
  position: absolute;
  top: 4px;
  left: -65px;
  color: #E00C3C;
  display: inline-block;
  vertical-align: top;
}

@media (max-width: 1280px) {
  .header {
    padding-left: 40px;
  }
  .header__logo {
    display: none;
  }
  .header__logo-g {
    display: inline-block;
    vertical-align: top;
    margin-right: auto;
    text-decoration: none;
    font-size: 30px;
    line-height: 1;
    margin-top: -5px;
    color: #E00C3C;
    font-family: "AMDGFont";
    text-transform: uppercase;
  }
  .header .menu {
    display: none;
  }
  .header__title:before {
    width: 40px;
  }
  .header .order-btn__text {
    display: none;
  }
  .header__search-btn {
    margin-right: 0;
  }
  .header__phone {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .header {
    padding-left: 15px;
  }
  .header .breadcrumbs {
    display: none;
  }
  .header__top {
    margin-bottom: 30px;
  }
  .header__title {
    font-size: 26px;
    line-height: 32px;
    padding-bottom: 14px;
  }
  .header__title:before {
    width: 15px;
  }
  .header__logo-g {
    order: 0;
    font-size: 26px;
  }
  .header .burger {
    height: 62px;
    width: 80px;
    order: 4;
  }
  .header .order-btn {
    order: 3;
  }
  .header__search-btn {
    order: 1;
  }
  .header .order-btn, .header__search-btn {
    width: 62px;
    height: 62px;
  }
  .header__search-btn {
    order: 0;
  }
  .header__phone {
    height: auto;
    order: 2;
  }
  .header__phone a {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    background: #2E2382;
    color: #fff;
  }
  .header__phone a span {
    display: none;
  }
  .header__phone a .icon {
    display: inline-block;
  }
  .header__phone a:hover {
    color: #fff;
  }
}
@media (max-width: 568px) {
  .header .burger {
    width: 62px;
  }
}
@media (max-width: 360px) {
  .header__logo-g {
    font-size: 20px;
  }
  .header__search-btn,
.header .order-btn,
.header .burger, .header__phone a {
    width: 56px;
    height: 56px;
  }
}
.footer {
  display: flex;
  flex-wrap: wrap;
}
.footer__col {
  width: 50%;
  padding: 40px 70px;
  padding-bottom: 90px;
  position: relative;
}
.footer__col:nth-child(1) {
  background: #2E2382;
}
.footer__col:nth-child(2) {
  background: #F1F1F1;
}
.footer__col:nth-child(2) .footer__info-item {
  color: #2E2382;
}
.footer__city {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0 0 35px;
  list-style: none;
}
.footer__city-link {
  display: block;
  text-decoration: none;
  transition: 0.3s color ease;
  color: #fff;
  font-size: 16px;
  line-height: 23px;
  transition: 0.3s color ease;
}
.footer__city-link:hover, .footer__city-link--active {
  color: #E00C3C;
}
.footer__addrerss {
  font-size: 14px;
  line-height: 24px;
}
.footer__addrerss a {
  display: inline-block;
  vertical-align: top;
  margin-right: 7px;
  color: #F1F1F1;
  text-decoration: none;
}
.footer__addrerss a:hover {
  text-decoration: underline;
}
.footer__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  bottom: 41px;
  left: 0;
  width: 100%;
  padding: 0 70px;
}
.footer__info-item {
  font-size: 11px;
  line-height: 13px;
  color: rgba(241, 241, 241, 0.6);
}
.footer__info-item--hide-d {
  display: none;
}
.footer__info-link {
  text-decoration: none;
  color: inherit;
}
.footer__info-link:hover {
  text-decoration: underline;
}
.footer__social {
  padding: 0;
  margin: 0 0 35px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.footer__social-item {
  width: 33.33%;
  font-size: 16px;
  line-height: 23px;
  color: #2E2382;
}
.footer__social-link {
  text-decoration: none;
  color: inherit;
}
.footer__social-link:hover {
  text-decoration: underline;
}
.footer__subscribe {
  display: block;
}
.footer__subscribe-label {
  display: block;
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 17px;
  color: #2E2382;
  font-weight: 500;
}
.footer__subscribe-form {
  position: relative;
}
.footer__subscribe-input {
  background: none;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #2E2382;
  margin: 0;
  padding: 0 30px 5px 0;
  font-size: 14px;
  line-height: 17px;
  color: #2E2382;
  width: 100%;
  outline: none;
  font-family: "arial";
}
.footer__subscribe-input::placeholder {
  color: #757575;
}
.footer__subscribe-submit {
  position: absolute;
  top: -10px;
  right: 0;
  font-size: 14px;
  line-height: 17px;
  color: #2E2382;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  border: 0;
  outline: 0;
  background: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
}
.footer__subscribe-submit .icon {
  margin-left: 10px;
}

.footer-menu {
  background: #F9F9F9;
  padding: 88px 0 34px 0;
}

@media (max-width: 1280px) {
  .footer__col {
    width: 100%;
  }
  .footer__info, .footer__col {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 768px) {
  .footer__col {
    padding: 25px 20px;
  }
  .footer__col:nth-child(2) {
    order: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .footer__col:nth-child(2) .footer__info {
    display: none;
  }
  .footer__col:nth-child(2) .footer__social {
    width: 100%;
    order: 1;
    margin: 25px 0 0;
  }
  .footer__col:nth-child(2) .footer__social-item {
    width: auto;
    margin-right: 15px;
  }
  .footer__col:nth-child(2) .footer__social-link {
    font-size: 14px;
  }
  .footer__col:nth-child(2) .footer__subscribe {
    width: 100%;
    order: 0;
  }
  .footer__col:nth-child(1) {
    order: 1;
  }
  .footer__city {
    margin-bottom: 30px;
  }
  .footer__city-link {
    font-size: 14px;
  }
  .footer__info {
    display: block;
    position: static;
    left: auto;
    bottom: auto;
    padding: 0;
    margin-top: 35px;
  }
  .footer__info-item {
    line-height: 17px;
  }
  .footer__info-item:first-child {
    margin-bottom: 17px;
  }
  .footer__info-item--hide-d {
    display: block;
  }
}