.footer
  .footer__col 
    ul.footer__city
      li.footer__city-item
        a.footer__city-link.footer__city-link--active(href="") Москва
      li.footer__city-item
        a.footer__city-link(href="") Минск
      li.footer__city-item
        a.footer__city-link(href="") Алматы
      li.footer__city-item
        a.footer__city-link(href="") Нью-Йорк
    .footer__addrerss
      a(href="") 3-я улица Ямского Поля, дом 2, корпус 26.
      br
      a(href="tel:+7 (495) 241-98-12") +7 (495) 241-98-12
      a(href="mailto:info@amdg.ru") info@amdg.ru
    .footer__info
      .footer__info-item © 2021 Artox Media Digital Group
      .footer__info-item
        a(href="").footer__info-link Политика куки 
      .footer__info-item
        a(href="").footer__info-link Условия обработки персональных данных
      .footer__info-item.footer__info-item--hide-d
        a(href="").footer__info-link Карта сайта
  .footer__col
    ul.footer__social
      li.footer__social-item
        a.footer__social-link(href="") Facebook
      li.footer__social-item
        a.footer__social-link(href="") Вконтакте
      li.footer__social-item
        a.footer__social-link(href="") Instagram
    form.footer__subscribe
      label.footer__subscribe-label Подписаться на рассылку 
      .footer__subscribe-form
        input(type="text" placeholder="1. Введите ваш e-mail").footer__subscribe-input
        button(type="submit").footer__subscribe-submit Далее
          svg.icon.icon--arrow-right
            use(href="img/svg-sprite.svg#arrow-right")
    .footer__info
      .footer__info-item
        a(href="").footer__info-link Карта сайта
      .footer__info-item Created by 
        a(href="").footer__info-link Chernıshēv Agency
