.header
  .header__top
    a(href="").header__logo-g AMDG
    ul.menu
      li.menu__item.menu__item--full
        button.menu__btn Услуги
        .menu__drop
          .menu__col
            .menu__title!="Performance & Media"
            ul.menu-list
              li.menu-list__item
                a.menu-list__link(href="") Performance marketing
              li.menu-list__item
                a.menu-list__link(href="") Комплексное продвижение
              li.menu-list__item
                a.menu-list__link(href="") Видеореклама
              li.menu-list__item
                a.menu-list__link(href="") Контекстная реклама
          .menu__col
            .menu__title!="DigitalPR & SMM"
            ul.menu-list
              li.menu-list__item
                a.menu-list__link(href="") SMM
              li.menu-list__item
                a.menu-list__link(href="") Influence-маркетинг
              li.menu-list__item
                a.menu-list__link(href="") Продвижение в Tik Tok
          .menu__col
            .menu__title!="Управление репутацией"
            ul.menu-list
              li.menu-list__item
                a.menu-list__link(href="") ORM
              li.menu-list__item
                a.menu-list__link(href="") SERM
              li.menu-list__item
                a.menu-list__link(href="") Мониторинг упоминаний 
              li.menu-list__item
                a.menu-list__link(href="") Работа с негативными отзывами
          .menu__col
            .menu__title!="Продвижение сайта"
            ul.menu-list
              li.menu-list__item
                a.menu-list__link(href="") SEO
              li.menu-list__item
                a.menu-list__link(href="") Продвижение по трафику
              li.menu-list__item
                a.menu-list__link(href="") Продвижение сайта в ТОП
              li.menu-list__item
                a.menu-list__link(href="") Аудит семантики 
          .menu__col
            .menu__title!="Продукты Google"
            ul.menu-list
              li.menu-list__item
                a.menu-list__link(href="") Google Marketing Platform
              li.menu-list__item
                a.menu-list__link(href="")!="Display & Video 360"
              li.menu-list__item
                a.menu-list__link(href="") Google Analytics 360
          .menu__col
            .menu__title!="Продвижение приложений"
            ul.menu-list
              li.menu-list__item
                a.menu-list__link(href="") Продвижение мобильных приложений
              li.menu-list__item
                a.menu-list__link(href="") Apple Search Ads
          .menu__col
            .menu__title!="Оплата рекламных кабинетов"
            ul.menu-list
              li.menu-list__item
                a.menu-list__link(href="") AMDG Pay
      li.menu__item
        button.menu__btn Блог
        .menu__drop
          ul.menu-list
            li.menu-list__item
              a.menu-list__link(href="") Полезные материалы
            li.menu-list__item
              a.menu-list__link(href="") Кейсы
            li.menu-list__item
              a.menu-list__link(href="") Исследования
      li.menu__item
        button.menu__btn Отрасли
        .menu__drop
          ul.menu-list
            li.menu-list__item
              a.menu-list__link(href="") Финансы 
            li.menu-list__item
              a.menu-list__link(href="") Недвижимость
            li.menu-list__item
              a.menu-list__link(href="") Авто
            li.menu-list__item
              a.menu-list__link(href="") Медицина
      li.menu__item
        button.menu__btn Компания
        .menu__drop
          ul.menu-list
            li.menu-list__item
              a.menu-list__link(href="") О AMDG
            li.menu-list__item
              a.menu-list__link(href="") Отзывы
            li.menu-list__item
              a.menu-list__link(href="") Сертификаты
            li.menu-list__item
              a.menu-list__link(href="") Вакансии
            li.menu-list__item
              a.menu-list__link(href="") Контакты
    .header__phone
      a(href="tel:+7 (495) 153-60-82")  
        svg.icon.icon--phone
          use(href="img/svg-sprite.svg#phone")
        span +7 (495) 153-60-82
    a(href="").header__search-btn 
      svg.icon.icon--search
        use(href="img/svg-sprite.svg#search")
    a(href="").order-btn
      .order-btn__icon
        svg.icon.icon--order
          use(href="img/svg-sprite.svg#order")
      .order-btn__text Оставить заявку
    .burger 
      .burger__inner
  .header__cont
    a(href="").header__logo
      svg.icon.icon--logo-v
        use(href="img/svg-sprite.svg#logo-v")
    ul.breadcrumbs
      li.breadcrumbs__item
        a(href="").breadcrumbs__link Главная
      li.breadcrumbs__item / 
      li.breadcrumbs__item Компания
    h1.header__title Компания

