@font-face {
  font-family: 'Formular';
font-display: fallback;
  src: url('#{$rootUrlFonts}Formular-Medium.eot');
  src: url('#{$rootUrlFonts}Formular-Medium.eot?#iefix') format('embedded-opentype'),
       url('#{$rootUrlFonts}Formular-Medium.woff2') format('woff2'),
       url('#{$rootUrlFonts}Formular-Medium.woff') format('woff'),
       url('#{$rootUrlFonts}Formular-Medium.ttf') format('truetype'),
       url('#{$rootUrlFonts}Formular-Medium.svg#Formular-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Formular';
font-display: fallback;
  src: url('#{$rootUrlFonts}Formular.eot');
  src: url('#{$rootUrlFonts}Formular.eot?#iefix') format('embedded-opentype'),
       url('#{$rootUrlFonts}Formular.woff2') format('woff2'),
       url('#{$rootUrlFonts}Formular.woff') format('woff'),
       url('#{$rootUrlFonts}Formular.ttf') format('truetype'),
       url('#{$rootUrlFonts}Formular.svg#Formular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AMDGFont';
  src: url('#{$rootUrlFonts}AMDGFont-Regular.eot');
  src: url('#{$rootUrlFonts}AMDGFont-Regular.eot?#iefix') format('embedded-opentype'),
       url('#{$rootUrlFonts}AMDGFont-Regular.woff2') format('woff2'),
       url('#{$rootUrlFonts}AMDGFont-Regular.woff') format('woff'),
       url('#{$rootUrlFonts}AMDGFont-Regular.ttf') format('truetype'),
       url('#{$rootUrlFonts}AMDGFont-Regular.svg#AMDGFont-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
