.icon {
  display: inline-block;
  vertical-align: top;
  fill: currentColor;

  &--order {
    width: 19px;
    height: 22px;
  }

  &--search {
    width: 20px;
    height: 20px;
  }

  &--logo-v {
    width: 30px;
    height: 103px;
  }

  &--arrow-right {
    width: 27px;
    height: 28px;
  }

  &--phone {
    width: 19px;
    height: 19px;
  }
}