* ,
::after ,
::before {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  font-family: $fontFormular;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  background: #fff;
}

#main {
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
}

.body-overflow {
  overflow: hidden;
}
