// root
$rootUrl: "images/";
$rootUrlFonts: "../fonts/";
// fonts
$fontFormular: 'Formular', 'Arial';
$fontAMDGFont: 'AMDGFont';
// colors
$colorRed: #E00C3C;
$colorBlue: #2E2382;
$colorLigthGray: #F1F1F1;
$colorLigthGray2: #F9F9F9;