.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;

  &__item {
    color: $colorRed;
    font-size: 16px;
    line-height: 20px;
    margin-right: 5px;
  }

  &__link {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    vertical-align: top;

    &:hover {
      color: $colorBlue;
    }
  }
}