.order-btn {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 79px;
  position: relative;
  background: $colorRed;
  transition: 0.3s background-color ease;
  color: #fff;
  
  &__icon {

  }

  &__text {
    position: absolute;
    top: 100%;
    right: 0;
    height: 79px;
    white-space: nowrap;
    padding: 0 32px;
    background: $colorRed;
    font-weight: 500;
    font-size: 14px;
    line-height: 79px;
    transition: 0.3s background-color ease;
  }

  &:hover {
    background: $colorBlue;
    
    .order-btn {
      &__text {
        background: $colorBlue;
      }
    }
  }
}