.burger {
  width: 97px;
  height: 79px;
  position: relative;
  cursor: pointer;

  &__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 32px;
    height: 32px;
    margin: -16px 0px 0px -16px;

    &:before,
    &:after {
      display: block;
      background: $colorRed;
      height: 2px;
      position: absolute;
      right: 0;
      transition: all 0.2s ease-in-out 0s;
      content: "";
    }

    &:before {
      width: 32px;
      top: 11px;
    }

    &:after {
      width: 16px;
      top: 19px;
    }
  }

  &:hover {
    .burger__inner {
      &:before {
        width: 100%;
        top: 0;
      }

      &:after {
        width: 100%;
        top: 31px;
      }
    }
  }

  &--active {
    .burger__inner {
      &:before,
      &:after {
        width: 100%;
        top: 16px;
      }

      &:before {
        transform: rotate(-45deg);
      }

      &:after {
        transform: rotate(45deg);
      }
    }
  }
}