.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;


  &__drop {
    min-width: 232px;
    padding: 30px 40px;
    position: absolute;
    top: 100%;
    left: 0;
    background: $colorBlue;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
  }

  &__btn {
    display: block;
    height: 79px;
    border: 0;
    outline: 0;
    background: transparent;
    padding: 0;
    font-size: 18px;
    line-height: 23px;
    color: $colorBlue;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    transition: 0.3s color ease;

    &:before {
      position: absolute;
      top: 100%;
      left: 0;
      margin-top: -3px;
      width: 0;
      height: 3px;
      transition: 0.3s width ease;
      display: block;
      content: "";
      background: $colorRed;
    }
  }

  &__item {
    position: relative;

    &--full {
      position: static;

      .menu__drop {
        width: calc(100% - 97px);
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 0;
      }
    }

    &:hover {
      .menu {
        &__btn {
          color: $colorRed;

          &:before {
            width: 78px;
          }
        }

        &__drop {
          opacity: 1;
          visibility: visible;
          z-index: 100;
        }
      }
    }
  }

  &__col {
    padding-left: 20px;
    padding-right: 20px;
    width: 25%;
    margin-bottom: 60px;
  }

  &__title {
    font-size: 18px;
    line-height: 23px;
    color: #fff;
    margin-bottom: 24px;

    &:after {
      content: '';
      display: block;
      width: 77%;
      height: 1px;
      background: #fff;
      margin-top: 18px;
    }
  }
}

.menu-list {
  padding: 0;
  margin: 0;
  list-style: none;

  &__item {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__link {
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}