.footer {
  display: flex;
  flex-wrap: wrap;

  &__col {
    width: 50%;
    padding: 40px 70px;
    padding-bottom: 90px;
    position: relative;

    &:nth-child(1) {
      background: $colorBlue;
    }

    &:nth-child(2) {
      background: $colorLigthGray;

      .footer__info {
        &-item {
          color: $colorBlue;
        }
      }
    }
  }

  &__city {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0 0 35px;
    list-style: none;

    &-item {

    }

    &-link {
      display: block;
      text-decoration: none;
      transition: 0.3s color ease;
      color: #fff;
      font-size: 16px;
      line-height: 23px;
      transition: 0.3s color ease;

      &:hover,
      &--active {
        color: $colorRed;
      }
    }
  }

  &__addrerss {
    font-size: 14px;
    line-height: 24px;

    a {
      display: inline-block;
      vertical-align: top;
      margin-right: 7px;
      color: $colorLigthGray;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    bottom: 41px;
    left: 0;
    width: 100%;
    padding: 0 70px;

    &-item {
      font-size: 11px;
      line-height: 13px;
      color: rgba($colorLigthGray,0.6);

      &--hide-d {
        display: none;
      }
    }

    &-link {
      text-decoration: none;
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__social {
    padding: 0;
    margin: 0 0 35px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    
    &-item {
      width: 33.33%;
      font-size: 16px;
      line-height: 23px;
      color: $colorBlue;
    }

    &-link {
      text-decoration: none;
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__subscribe {
    display: block;

    &-label {
      display: block;
      margin-bottom: 14px;
      font-size: 14px;
      line-height: 17px;
      color: $colorBlue;
      font-weight: 500;
    }

    &-form {
      position: relative;
    }

    &-input {
      background: none;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid $colorBlue;
      margin: 0;
      padding: 0 30px 5px 0;
      font-size: 14px;
      line-height: 17px;
      color: $colorBlue;
      width: 100%;
      outline: none;
      font-family: 'arial';

      &::placeholder {
        color: #757575;
      }
    }

    &-submit {
      position: absolute;
      top: -10px;
      right: 0;
      font-size: 14px;
      line-height: 17px;
      color: $colorBlue;
      opacity: 1;
      visibility: visible;
      transition: all 0.3s ease 0s;
      cursor: pointer;
      border: 0;
      outline: 0;
      background: none;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 0;
      margin: 0;

      .icon {
        margin-left: 10px;
      }
    }
  }
}

.footer-menu {
  background: $colorLigthGray2;
  padding: 88px 0 34px 0;
}

@media(max-width: 1280px) {
  .footer {
    &__col {
      width: 100%;
    }

    &__info ,
    &__col {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}

@media(max-width: 768px) {
  .footer {
    &__col {
      padding: 25px 20px;

      &:nth-child(2) {
        order: 0;
        display: flex;
        flex-wrap: wrap;

        .footer__info {
          display: none;
        }

        .footer__social {
          width: 100%;
          order: 1;
          margin: 25px 0 0;

          &-item {
            width: auto;
            margin-right: 15px;
          }

          &-link {
            font-size: 14px;
          }
        }

        .footer__subscribe {
          width: 100%;
          order: 0;
        }
      }

      &:nth-child(1) {
        order: 1;
      } 
    }

    &__city {
      margin-bottom: 30px;

      &-link {
        font-size: 14px;
      }
    }

    &__info {
      display: block;
      position: static;
      left: auto;
      bottom: auto;
      padding: 0;
      margin-top: 35px;

      &-item {
        line-height: 17px;

        &:first-child {
          margin-bottom: 17px;
        }

        &--hide-d {
          display: block;
        }
      }
    }
  }
}