.header {
  position: relative;
  padding-left: 130px;

  &__top {
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
  }

  &__logo-g {
    display: none;
  }

  .menu {
    flex: 1 0 0%;
  }

  .order-btn {
    z-index: 50;
  }

  &__search-btn  {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 79px;
    width: 81px;
    color: $colorBlue;
    transition: 0.3s color ease;
    text-decoration: none;
    margin-right: 12px;

    .icon {
      width: 17px;
      height: 17px;
    }

    &:hover {
      color: $colorRed;
    }
  }

  &__phone {
    height: 79px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 70px;
    margin-right: 25px;

    a {
      display: inline-block;
      vertical-align: top;
      text-decoration: none;
      font-size: 16px;
      line-height: 20px;
      font-weight: 500;
      transition: 0.3s color ease;
      color: $colorRed;

      &:hover {
        color: $colorBlue;
      }
    }

    .icon {
      display: none;
    }
  }

  .breadcrumbs {
    margin-bottom: 10px;
  }

  &__cont {
    position: relative;
  }

  &__title {
    position: relative;
    border-bottom: 1px solid #2E2382;
    margin: 0;
    padding-bottom: 17px;
    font-size: 64px;
    line-height: 77px;
    color: $colorBlue;
    font-family: $fontAMDGFont;
    text-transform: uppercase;
    position: relative;

    &:before {
      content: '';
      background: #fff;
      width: 22%;
      height: 1px;
      position: absolute;
      top: 100%;
      right: 0;
      display: block;
    }
  }

  &__logo {
    position: absolute;
    top: 4px;
    left: -65px;
    color: $colorRed;
    display: inline-block;
    vertical-align: top;
  }
}

@media(max-width: 1280px) {
  .header {
    padding-left: 40px;

    &__logo {
      display: none;
    }

    &__logo-g {
      display: inline-block;
      vertical-align: top;
      margin-right: auto;
      text-decoration: none;
      font-size: 30px;
      line-height: 1;
      margin-top: -5px;
      color: $colorRed;
      font-family: $fontAMDGFont;
      text-transform: uppercase;
    }

    .menu {
      display: none;
    }

    &__title {
      &:before {
        width: 40px;
      }
    }

    .order-btn {
      &__text {
        display: none;
      }
    }

    &__search-btn {
      margin-right: 0;
    }

    &__phone {
      margin: 0;
    }
  }
}

@media(max-width: 768px) {
  .header {
    padding-left: 15px;

    .breadcrumbs {
      display: none;
    }

    &__top {
      margin-bottom: 30px;
    }

    &__title {
      font-size: 26px;
      line-height: 32px;
      padding-bottom: 14px;

      &:before {
        width: 15px;
      }
    }

    &__logo-g {
      order: 0;
      font-size: 26px;
    }

    .burger {
      height: 62px;
      width: 80px;
      order: 4;
    }

    .order-btn {
      order: 3;
    }

    &__search-btn {
      order: 1;
    }

    .order-btn ,
    &__search-btn {
      width: 62px;
      height: 62px;
    }

    &__search-btn {
      order: 0;
    }

    &__phone {
      height: auto;
      order: 2;

      a {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 62px;
        height: 62px;
        background: #2E2382;
        color: #fff;

        span {
          display: none;
        }

        .icon {
          display: inline-block;
        }

        &:hover {
          color: #fff;
        }
      }
    }
  }
}

@media(max-width: 568px) {
  .header {
    .burger {
      width: 62px;
    }
  }
}

@media(max-width: 360px) {
  .header {
    &__logo-g {
      font-size: 20px;
    }

    &__search-btn,
    .order-btn,
    .burger,
    &__phone a {
      width: 56px;
      height: 56px;
    }
  }
}